<div class="py-20" id="education">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <h2 class="section-title">Academic Education</h2>

        <div class="space-y-12">
            {{#each this.education as |edu|}}
            <div class="card">
                <div class="flex flex-col md:flex-row justify-between mb-6">
                    <div>
                        <h3 class="text-2xl font-bold text-blue-900">{{edu.degree}}</h3>
                        <p class="text-xl text-gray-600">{{edu.institution}}</p>
                    </div>
                    <p class="text-gray-600">{{edu.year}}</p>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
</div>