<div class="min-h-screen pt-16 bg-gradient-to-r from-blue-900 to-blue-700 opacity-90" id="contact">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
        <h2 class="section-heading text-white">Contact Me</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            <div class="fade-in bg-gray-200 p-2 rounded-md">
                <h3 class="text-xl font-bold text-grey-800 mb-4">Get in Touch</h3>
                <div class="space-y-4">
                    <p class="flex items-center">
                        <span class="mr-2">📧</span>
                        <a href="mailto:syedmurtaza@gmail.com" class="text-grey-600 hover:text-blue-800">
                            syedmurtaza@gmail.com
                        </a>&nbsp;&nbsp;|
                        <a href="mailto:mhk2166@hotmail.com" class="text-grey-600 hover:text-blue-800 pl-2">
                            mhk2166@hotmail.com
                        </a>
                    </p>
                    <p class="flex items-center">
                        <span class="mr-2">📱</span>
                        <a href="tel:+923108422214" class="text-grey-600 hover:text-blue-800 mr-2">
                            +92 310 8422214
                        </a> |
                        <a href="tel:+923454281484" class="text-grey-600 hover:text-blue-800 pl-2">
                            +92 345 4281484
                        </a>
                    </p>
                    <p class="flex items-center">
                        <span class="mr-2">👔</span>
                        <a href="https://www.linkedin.com/in/murtazahussain/" target="_blank" rel="noopener noreferrer"
                            class="text-grey-600 hover:text-blue-800">
                            LinkedIn Profile
                        </a>
                    </p>
                    <p>
                        <span class="mr-2"><i class="fab fa-github" aria-hidden="true"></i>
                        </span>
                        <a href="https://github.com/syedmurtaza" target="_blank" rel="noopener noreferrer"
                            class="text-grey-600 hover:text-blue-800">
                            Github Profile
                        </a>


                    </p>
                    <address class="flex items-center">
                        <span class="mr-2"><i class="fa-solid fa-address-card"></i></span>
                        Lahore, Punjab, Pakistan
                    </address>

                </div>
            </div>

            <div class="fade-in bg-gray-200 p-2 rounded-md">
                <ContactForm />
            </div>
        </div>
    </div>

</div>