<ProfilePanel @title="Personal Information" @icon="👤">
    <div class="space-y-3">
        <div class="flex flex-col space-y-1">
            <span class="text-sm text-gray-500">Father's Name</span>
            <span class="text-gray-900">{{@info.fatherName}}</span>
        </div>
        <div class="flex flex-col space-y-1">
            <span class="text-sm text-gray-500">Date of Birth</span>
            <span class="text-gray-900">{{@info.dateOfBirth}}</span>
        </div>
        <div class="flex flex-col space-y-1">
            <span class="text-sm text-gray-500">Driving License</span>
            <span class="text-gray-900">{{@info.drivingLicense}}</span>
        </div>
    </div>
</ProfilePanel>